@import "_variables.scss";
@import "_mixins.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url("../images/car_bg.jpg");
    font-family: 'Share Tech Mono', monospace;
}
@media (max-width:400px) {
    body {
        color: red;
    }
}
@media (min-width:400px) and (max-width:800px) {
    body {
        color: #fff;
    }
}
@media (min-width:800px) {
    body {
        color: #fff;
    }
}

.block,
.face-down,
.face-up {
    height: 180px;
    width: 200px;
}

.block {
    display: inline-block;
    position: relative;
    margin: 1px;
}

.face-up {
    z-index: 2;
}

.face-down {
    background-image: url("../images/car_bg.jpg");
    background-size: cover;
    z-index: 3;
}

.face-down,
.face-up {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    border: 2px solid #fff;
}

.visible .face-down {
    z-index: 1;
}

.hide {
    .face-down,
    .face-up {
        display: none;
    }
}

p {
    display: inline-block;
    margin: 5px 20px;

    span {
        color: red;
        font-size: 1.25em;
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}

#statsGame {
    background: black;
    width: 50%;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 3px 8px #000;

    :hover {
        transform: scale(1.08);
    }
}

#game {
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
